<!--The content below is only a placeholder and can be replaced.-->
<head>
	<title>Our Travel Journal</title>
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet">
</head>

<app-nav></app-nav>

<div class="container-fluid">
	<h1>Our Travel Journal</h1>

	<router-outlet></router-outlet>
</div>
